# VTK output
VTK/

# cmake files and compile targets
build/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# scons files and compile targets
.sconsign.dblite

# Executables and compiled files
numsim

# Profiler files
gmon.out
profile.out

# Documentation with doxygen
doc/

# Ignore temporary files (esp. MATLAB)
*~
