# VTK output
/VTK/

# cmake files and compile targets
build/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# Magrathea executable
Magrathea/magrathea

# scons files and compile targets
.sconsign.dblite

# Executables and compiled files
numsim

# Profiler files
gmon.out
profile.out

# Documentation with doxygen
doc/

# Ignore temporary files (esp. MATLAB)
*~

# Ignore Karman VTK folder (1 Gig space)
Results/Blatt03/Karman/VTK/
